/* Modificando Ids*/

#Articulo { 
    background-color: rgba(160, 228, 133, 0.87);
    padding: 10px;
    
}

#footer { 
    background-color: rgb(216, 182, 255);
    margin: 45px;
}

#Todo {
    padding: 10px;
    margin: 35px;
}

#Comprarcelular {

    margin: 40px;
    padding: 10px;
}

/* Modificando las clases*/

.foto {
    background-color: rgba(241, 161, 158, 0.904);
    

}

.noticia {
    background-color: rgba(241, 161, 158, 0.904);
    padding: 60px;

}

.Contenedor {
    display: flex;
}

.Centrartitulo {

    text-align: center;
}

.contenedor2 {

    display: flex;
}

.resultados {

    padding: 20px;
}

.fotoresultado {

    padding: 15px;

}

/* Modificando los tags */

Table, tr, td, th { 
    background-color: rgb(177, 229, 245);
    border: groove rgb(216, 9, 9) 1px;
    padding: 20px;
}

body { 
    background-color: beige;
}