/* Modificando Ids*/

#Articulo { 
    background-color: aquamarine;
    padding: 10px;
    
}

#footer { 
    background-color: rgb(216, 182, 255);
    margin: 45px;
    padding: 20px;
}

#Todo {
    padding: 10px;
    margin: 35px;
}

#Comprarcelular {

    margin: 40px;
    padding: 20px;
    background-color: aquamarine;
}

/* Modificando las clases*/

.foto {
    background-color: rgb(216, 182, 255);

    padding: 50px;
    
    

}

.noticia {
    background-color: rgb(216, 182, 255);
    padding: 60px;

}

.Contenedor {
    display: flex;
}

.Centrartitulo {

    text-align: center;
}

.contenedor2 {

    display: flex;
    border: solid black;
    background-color: rgb(255, 244, 85);
    margin: 40px;
    padding: 10px;
}

.resultados {

    padding: 20px;
   
    
}

.fotoresultado {

    padding: 15px;

}

/* Modificando los tags */

Table, tr, td, th { 
    background-color: rgb(247, 181, 232);
    border: groove rgb(64, 9, 216) 1px;
    margin: 40px;
    padding: 20px;
}

body { 
    background-color: beige;
}